@model ClinicSystem.Models.Patient
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="card">
    <div class="card-header">
        @if (Model.Id == 0)
        {
            <h2>New Patient</h2>
        }
        else
        {

            <h2>Edit Patient</h2>
        }
    </div>

    @using (Html.BeginForm("Save", "Patients")){
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">

                <div class="mb-3 pt-3">
                    <label class="form-label">Name</label>

                        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.Name)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3 pt-3">
                    <label class="form-label">Gender</label>

                        @Html.DropDownListFor(m => m.Gender,
                                 new SelectList(Enum.GetValues(typeof(SelectGender))),
                                 "Select Gender", new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.Name)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label">Date of Birth</label>
                    <input type="date" name="DateOfBirth" class="form-control" />
                </div>
            </div>
            <div class="col-lg-6">
                <br />
                @Html.HiddenFor(m => m.Id)
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        
    </div>
    }
</div>